.App {
  background-image: url(https://www.freevector.com/uploads/vector/preview/2515/FreeVector-Music-Vector-Record-Player.jpg) ;
  background-size: cover;
  text-align: center;
}

.app-body{
  /* background-image: url(https://www.freevector.com/uploads/vector/preview/2515/FreeVector-Music-Vector-Record-Player.jpg) ;
  background-size: cover; */
  text-align: center;

}

.post-body{
  background-color: aqua;
}

.artist-body{
  background-color: brown;
}

.add{
  color: brown;
}

/* .home-wrap{ background-image: url(https://www.freevector.com/uploads/vector/preview/2515/FreeVector-Music-Vector-Record-Player.jpg) ;
      background-size: cover;
} */